[submodule "3rdparty/Catch"]
	path = 3rdparty/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "SDL-mirror"]
	path = SDL-mirror
	url = https://github.com/spurious/SDL-mirror.git
[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/spurious/SDL-mirror.git
